<div class="app-wrapper">
  <div class="sidenav">
    <div class="brand">
      <mat-icon>shield</mat-icon>
      <span>UserManager</span>
    </div>

    <nav class="nav-menu">
      <a *ngFor="let item of menuItems" [routerLink]="item.route" 
         routerLinkActive="active" class="nav-item">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    </nav>

    <div class="sidenav-footer">
      <div class="logout-btn" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Déconnexion</span>
      </div>
    </div>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>