<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="logo">
      <mat-icon>shield</mat-icon>
      <span>AdminPanel</span>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="active-link">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </mat-nav-list>
    <div class="logout">
      <button mat-stroked-button color="warn" (click)="logout()">
        <mat-icon>logout</mat-icon> Déconnexion
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Panneau d'administration</span>
      <span class="spacer"></span>
      <mat-icon>account_circle</mat-icon>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>